<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joongmae.mapper.BuyBoardMapper">
	
	<insert id="register" parameterType="org.joongmae.domain.BuyVO">
		insert into buy values (seq_buyno_buy.nextval, #{id}, #{title}, #{keyword1}, #{keyword2}, 
		#{keyword3}, #{type}, #{region}, #{minPrice}, #{maxPrice}, '등록', #{bigClassifier}, #{mediumClassifier}, sysdate)
	</insert>
	
	<select id="list" parameterType="org.joongmae.domain.BuyCriteria" resultType="org.joongmae.domain.BuyVO">
		
			
			select buyno, id, title, keyword1, keyword2, keyword3, type, region, minprice, maxprice,
			status, bigclassifier, mediumclassifier, regdate 
			from 
				(select /*+ INDEX_DESC (buy pk_buy) */ rownum rn, buyno, id, title, keyword1, keyword2, keyword3, type, region, 
						minprice, maxprice,	status, bigclassifier, mediumclassifier, regdate
					from buy where
					
					<if test="bigClassifier != null">
					<![CDATA[
						bigclassifier = #{bigClassifier} and mediumclassifier = #{mediumClassifier} 
					    and minprice >= #{minPrice} and maxprice <= #{maxPrice} 
					    and (keyword1 like '%'||#{keyword1}||'%' or keyword1 like '%'||#{keyword2}||'%' or keyword1 like '%'||#{keyword3}||'%'
					    or keyword2 like '%'||#{keyword1}||'%' or keyword2 like '%'||#{keyword2}||'%' or keyword2 like '%'||#{keyword3}||'%'
					    or keyword3 like '%'||#{keyword1}||'%' or keyword3 like '%'||#{keyword2}||'%' or keyword3 like '%'||#{keyword3}||'%') 
					    and
					    ]]>
					</if>
					
				<![CDATA[rownum <= #{pageNum} * #{amount} and status = '등록')
				where rn > (#{pageNum} -1) * #{amount}
				]]>
	</select>
	
	<select id="detail" resultType="org.joongmae.domain.BuyVO">
		select * from buy where buyno = #{buyno}
	</select>
	
	<select id="buyTotalCount" parameterType="org.joongmae.domain.BuyCriteria" resultType="int">
		select count(*) from 
		(select rownum rn, buyno, id, title, keyword1, keyword2, keyword3, type, region, 
						minprice, maxprice,	status, bigclassifier, mediumclassifier, regdate 
					from buy where
					
					<if test="bigClassifier != null">
					<![CDATA[
						bigclassifier = #{bigClassifier} and mediumclassifier = #{mediumClassifier} 
					    and minprice >= #{minPrice} and maxprice <= #{maxPrice} 
					    and (keyword1 like '%'||#{keyword1}||'%' or keyword1 like '%'||#{keyword2}||'%' or keyword1 like '%'||#{keyword3}||'%'
					    or keyword2 like '%'||#{keyword1}||'%' or keyword2 like '%'||#{keyword2}||'%' or keyword2 like '%'||#{keyword3}||'%'
					    or keyword3 like '%'||#{keyword1}||'%' or keyword3 like '%'||#{keyword2}||'%' or keyword3 like '%'||#{keyword3}||'%') 
					    and
					    ]]>
					</if>
					
				status = '등록')
	</select>
	
	<select id="memberList" resultType="org.joongmae.domain.MemberVO">
		select * from member
	</select>
	
	<select id="memberDetail" parameterType="String" resultType="org.joongmae.domain.MemberVO">
		select * from member where id = #{id}
	</select>
	
	<update id="delete" parameterType="org.joongmae.domain.BuyVO">
		update buy set status='삭제' where buyno = #{buyNo}
	</update>
	
	<select id="alarmList" parameterType="String" resultType="org.joongmae.domain.AlarmVO">
		select distinct buyno from alarm where sellid = #{id}
	</select>
	
	<select id="sellList" parameterType="String" resultType="org.joongmae.domain.SellVO">
		select * from sell where id = #{id} and status = '등록' order by sellno desc
	</select>
	
	<select id="sellDetail" parameterType="int" resultType="org.joongmae.domain.SellVO">
		select * from sell where sellno = #{sellNo}
	</select>
	
	<insert id="registerAlarm" parameterType="org.joongmae.domain.AlarmVO">
		insert into alarm values (SEQ_ALARMNO_ALARM.nextval, #{buyId}, #{buyNo}, #{sellId}, #{sellNo}, '등록')
	</insert>

	<insert id="registerAlarmAuto" parameterType="org.joongmae.domain.AlarmVO">
		insert into alarm values (SEQ_ALARMNO_ALARM.nextval, #{buyId}, #{buyNo}, #{sellId}, #{sellNo}, #{status})
	</insert>

	<select id="temp" parameterType="String" resultType="org.joongmae.domain.SellVO">
		select * from sell where id != #{id} and status = '등록' order by sellNo desc
	</select>
	
	<select id="count" resultType="int">
		select max(buyno) from buy
	</select>
</mapper>
