<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joongmae.mapper.MemberMapper">
   
	<select id="getList" resultType="org.joongmae.domain.MemberVO">
	select * from member
	</select>
	
	<insert id="insertMember" parameterType="org.joongmae.domain.MemberAuthDTO">
	insert into member values (#{id},#{password},#{name},#{phoneNo},#{email},#{sex},#{address},' ',' ',0,'y',' ',' ',' ','1')  
	</insert>
	
	<select id="chk_id" parameterType="String" resultType="int">
	  select count(id) from member where id=#{chk_id}
	</select>
	
	<insert id="insertAccount" parameterType="org.joongmae.domain.MemberAccountVO">
	insert into memberAccount values(#{accountNo},#{id},' ')
	
	</insert>

 	<select id="getMember" parameterType="String" resultType="org.joongmae.domain.MemberAuthDTO">
	  select * from member_auth where id =#{id}
	</select> 
	
	<update id="addOption" parameterType="org.joongmae.domain.MemberVO">
	 update member set introduction=#{introduction} , picture = #{picture} where id=#{id}
	</update>
	
	
	<insert id="memberAuth" parameterType="org.joongmae.domain.MemberVO">
	  insert into member_auth (id,password) values(#{id},#{password})
	</insert>
	
	
	<resultMap type="org.joongmae.domain.MemberVO" id="memberMap">
   <id property="id" column="id"/>
    <result property="id" column="id"/>
    <result property="password" column="password"/>
    <result property="name" column="name"/>
    <result property="phoneNo" column="phoneNo"/>
    <result property="email" column="email"/>
	<result property="sex" column="sex"/>
    <result property="address" column="address"/>
    <result property="picture" column="picture"/>
    <result property="introduction" column="introduction"/>
    <result property="avgScore" column="avgScore"/>
    <result property="isMember" column="isMember"/>
    <result property="isAlarm" column="isAlarm"/>
    <result property="alarmStartTime" column="alarmStartTime"/>
    <result property="alarmEndTime" column="alarmEndTime"/> 
    <result property="enabled" column="enabled"/>
    <collection property="authList" resultMap="authMap"/>
  </resultMap>
  
  <resultMap type="org.joongmae.domain.AuthVO" id="authMap">
    <result property="id" column="id"/>
    <result property="auth" column="auth"/>

  </resultMap>
  
  <select id="read" resultMap="memberMap">
SELECT 
  mem.id, auth.password, mem.name, phoneNo,email,sex,address,picture,introduction,avgScore,isMember,isAlarm,alarmStartTime,alarmEndTime,mem.enabled, auth.auth
FROM member mem LEFT OUTER JOIN member_auth auth on mem.id = auth.id  WHERE mem.id = #{id} 
  </select>
   
   <select id="findId" parameterType="hashmap" resultType="String">
   select nvl(id,0) from member where name=#{name} and phoneNo=#{phoneNo}
   </select>

<select id="getPassword" parameterType="map" resultType="String">
select password from member where id=#{id} and email=#{emailId}
</select>




</mapper>

