<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joongmae.mapper.RESTMapper">

	<insert id="registerReview" parameterType="org.joongmae.domain.ReviewVO">
		insert into review values (#{dealNo}, #{id}, #{contents}, #{score})
	</insert>
	
	<select id="showScore" parameterType="String" resultType="String">
		select avg(score) from review group by id having id = #{id}
	</select>
	
	<update id="readAlarm" parameterType="int">
		update alarm set status = '읽음' where alarmNo = #{alarmNo}
	</update>

	<update id="setAlarm" parameterType="org.joongmae.domain.MemberAlarmSetVO">
		update member set isAlarm = #{isAlarm}, alarmStartTime = #{alarmStartTime}, alarmEndTime = #{alarmEndTime} where id = #{id}
	</update>
	
	<select id="getAlarmConfig" resultType="org.joongmae.domain.MemberAlarmSetVO">
		select id, isAlarm, alarmStartTime, alarmEndTime from member where id = #{id}
	</select>
	
	<select id="getAlarmCount" parameterType="String" resultType="int">
		select count(a.alarmNo) from member m, alarm a where (m.id = a.buyid or m.id = a.sellid) and m.id = #{id} and a.STATUS != '읽음'
	</select>
	
	<select id="alarmList" parameterType="String" resultType="org.joongmae.domain.AlarmVO">
		select * from alarm where sellId = #{id} or buyId = #{id} order by alarmNo
	</select>
</mapper>
