<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="org.joongmae.mapper.MemberMapper">
   
   

   <select id="getList" resultType="org.joongmae.domain.MemberVO">
   select * from member
   </select>
   
   
   <insert id="insertMember" parameterType="org.joongmae.domain.MemberVO">
   insert into member values (#{id},#{password},#{name},#{phoneNo},#{email},#{sex},#{address},' ',' ',0,'y',' ',' ',' ')  
   </insert>
   
   <!-- <select id="loginMember" parameterType="String" resultType="String">
     select password from member where id=#{id}
   </select>
   
   <update id="detailInfo" parameterType="Member">
     update member set picture=#{picture},introduction=#{introduction} where id=#{id}
   
   </update>
   
   <select id="getMember" parameterType="String" resultType="Member">
     select * from member where id=#{id}
   </select>
   -->
   
   
   <select id="chk_id" parameterType="String" resultType="int">
     select count(id) from member where id=#{chk_id}
   </select>
   
   <insert id="insertAccount" parameterType="org.joongmae.domain.MemberAccountVO">
   insert into memberAccount values(#{accountNo},#{id},' ')
   
   </insert>

    <select id="getMember" parameterType="String" resultType="org.joongmae.domain.MemberAuthDTO">
     select * from member_auth where id =#{id}
   </select> 
   
   <update id="addOption" parameterType="org.joongmae.domain.MemberVO">
    update member set introduction=#{introduction} , picture = #{picture} where id=#{id}
   </update>
   
   
   <insert id="memberAuth" parameterType="org.joongmae.domain.MemberAuthDTO">
     insert into users (username,password,enabled) values(#{id},#{password},1)
   </insert>
   
   <select id="getBySnsNaver" resultType="org.joongmae.domain.User">
	  select * from user where naverid=#{naverid}   
   </select>
   
   
</mapper>

